/* Body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

/* Page container */
#page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 20px;
}

/* Page title */
#page-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* Page message */
#page-message {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 40px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    width: 380px
}

/* Input fields */
label {
    font-size: 1rem;
    margin-bottom: 0px ;
}

input[type="password"],
input[type="text"] {
    border: 1px solid #CCC;
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: px;
    width: 100%;
    box-sizing: border-box;
}

/* Submit button */
button[type="submit"] {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    border: none;
    background-color: #6C63FF;
    color: #FFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #8C86FF;
}
